@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif; /* Change to Open Sans as the default font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Now set specific font styles for headings and other elements if needed */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif; /* Montserrat for headings */
}

code {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Add other element selectors as necessary to apply the fonts */
